* {
  box-sizing: border-box;
}

/* Define the Eurostile font */
@font-face {
  font-family: 'Eurostile';
  src: url('eurostile.ttf') format('truetype');
}

/* Define the Titillium Web font */
@font-face {
  font-family: 'Titillium Web';
  src: url('titillium-web.ttf') format('truetype');
}

/* Use the Titillium Web font for body text */
p, li {
  font-family: 'Titillium Web', sans-serif;
}

/* Header styles */
header {
  position: relative;
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #5c788f;
  color: white;
  overflow: hidden; /* add this line */
}

header h1 {
  margin-bottom: -10px;
  font-family: 'Eurostile', sans-serif;
}

header h2 {
  margin-bottom: 10px;
  font-family: 'Eurostile', sans-serif;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  list-style: none;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: white;
}

nav a:hover {
  color: blue;
}

.menu-btn {
  cursor: pointer;
  display: none;
}

.menu-btn__burger {
  width: 30px;
  height: 20px;
  border-top: 31px solid white;
  border-bottom: 3px solid white;
  margin: auto;
}

.header-social-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.CIB {
  width: 15%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CIB img {
  max-width: 150%;
  max-height: 100%;
  height: auto;
  align-items: center;
  object-fit: cover;
}

.school-logos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: calc(15% + 10px);
  width: 10%;
}

.school-logos img {
  max-height: 200px;
  max-width: 100%;
  object-fit: contain;
  margin: 10px;
}

@media only screen and (max-width: 768px) {
  .school-logos {
    display: none;
  }
}


.right-side-logos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: calc(15% + 10px);
  width: 10%;
}

.right-side-logos img {
  max-height: 140px;
  max-width: 100%;
  object-fit: contain;
  margin: 10px;
}

@media only screen and (max-width: 768px) {
  .right-side-logos {
    display: none;
  }
}


.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 1;

}

.header-content h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: center;
}

.header-content h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
}

.header-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.header-contact a {
  margin-bottom: 5px;
  text-align: center;
  color: white;
}

.header-contact .phone-link:hover {
  color: blue;
}

.header-contact .email-link:hover {
  color: blue;
}

.header-social {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.header-social a {
  margin-right: 30%;
  font-size: 1.5rem;
  color: whitesmoke;
  margin-bottom: 5%;
}

.header-social a:hover {
  color: blue;
}

main {
  text-align: center;
  background-color: #3399CC;
}

main ul {
  list-style: none;
  margin-right: 2.5%;
}

main h1 {
  text-decoration: underline;
  font-style: italic;
}

main h2 {
  text-decoration: underline;
  font-style: italic;
}

body {
  background-image: url("city-photo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

footer {
  position: relative;
  height: auto;
  background-color: #5c788f;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}