/* Basic reset to remove margin, padding, and set box-sizing to border-box for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: 'Arial', sans-serif; 
    line-height: 1.6; 
    color: #333; 
    padding: 20px; 
    background-color: #f4f4f4;
}

/* Header styling */
header {
    background: #333; 
    color: #fff; 
    padding-top: 30px; 
    min-height: 70px;
    border-bottom: #0779e4 3px solid; 
}

/* Styling for links in the header, making them white and removing underlines */
header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase; 
    margin: 0 15px; 
}

/* Inline display for list items to show them in a row */
header li {
    display: inline;
    margin: 0 10px; 
}

/* Styling for sections to add padding and margin for spacing */
section {
    padding: 20px 0; 
    margin: 20px 0; 
}
